# .gitignore
*.tar
*.tgz
*.zip
*.gz
*.exe
*.bin
*.iso
project-c-clean.git/
# Ignore local builds and tools

# Ignore generated Helm chart packages
charts/**/demo-app-*.tgz

# Optional: editor/IDE files
.vscode/
.idea/
*.swp

